numpy>=1.23.1
soundfile>=0.12.1
librosa>=0.10.0
dataclasses>=0.6
transformers>=4.31.0
bitsandbytes>=0.41.0
soundfile>=0.12.1
datasets>=2.11.0
evaluate>=0.4.0
faster-whisper>=0.7.0
jiwer>=2.5.1
peft>=0.4.0
accelerate>=0.21.0
zhconv>=1.4.2
tqdm>=4.62.1
soundcard>=0.4.2
uvicorn>=0.21.1
fastapi>=0.95.1
starlette>=0.26.1
tensorboardX>=2.2
